# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Misc
*.log

# Local data - do not track
Day6/EU_StartupMails_09Aug/
Day6/EU_StartupMails_09Aug/**
